@use "sass:color";
@use "sass:math";

@function interp($a, $b, $t) {
    $test-color: color.change($a,
			 $red: color.red($a) * $t + (color.red($b) * (1 - $t)),
			 $green: color.green($a) * $t + (color.green($b) * (1 - $t)),
			 $blue: color.blue($a) * $t + (color.blue($b) * (1 - $t)));
    @return $test-color;
}

$color-fac: .75;
$color-red: rgb(250 * $color-fac, 145 * $color-fac, 160 * $color-fac); // red
$color-blue: rgb(145 * $color-fac, 195 * $color-fac, 250 * $color-fac); // blue

$color-0: $color-blue;
$color-1: rgb(135 * $color-fac, 220 * $color-fac, 165 * $color-fac); // green
$color-2: rgb(240 * $color-fac, 175 * $color-fac, 240 * $color-fac); // purple
$color-3: $color-red;
$color-4: color.scale(#fec440, $lightness: math.percentage(-(1-$color-fac)));  // yellow
$color-5: #e010e0;  // purple
$color-6: #5010e0;  // yellow

$prime-color: white;
$prime-inv-color: black;
$std-font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: monospace;

$mid-color: interp($prime-inv-color, $prime-color, .3);

$highlight-color: $color-4;
$picked-color: color.scale($highlight-color, $lightness: -15%);  // yellow

$std-border-radius: 5px;
$std-duration: .3s;
$std-fast-duration: .2s;

$display-width: 720px;

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  @extend .unselectable;
  cursor: pointer;
}

.button {
  @extend .clickable;
  display: inline;
  padding: 2px;
  background-color: $prime-color;
  color: $prime-inv-color;
  border: 1px solid transparent;
  border-radius: $std-border-radius;
  transition: border-color $std-fast-duration;
  white-space: nowrap;
}

$button-size-tiny: 8px;
$button-size-small: 12px;
$button-size-mid: 20px;
$button-size-large: 35px;

$button-font-tiny: $button-size-tiny + 2;
$button-font-small: $button-size-small + 2;
$button-font-mid: $button-size-mid + 2;
$button-font-large: $button-size-large + 2;

.button-selected {
  border: 1px solid $prime-inv-color;
}

.button:hover {
  @extend .button-selected;
  transition: border-color 0;
}

.button-large {
  width: $button-size-large;
  height: $button-size-large;
  padding: 3px;
}

.button-mid {
  width: $button-size-mid;
  height: $button-size-mid;
  padding: 3px;
}

.button-small {
  width: $button-size-small;
  height: $button-size-small;
  padding: 3px;
}

.button-tiny {
  width: $button-size-tiny;
  height: $button-size-tiny;
  padding: 3px;
}

.font-large {
  font-size: $button-font-large;
}

.font-mid {
  font-size: $button-font-mid;
}

.font-small {
  font-size: $button-font-small;
}

.font-tiny {
  font-size: $button-font-tiny;
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}

@include keyframes(fade-in) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(fade-out) {
  from { opacity: 1; }
  to { opacity: 0; }
}

@font-face {
    font-family: Lobster;
    src: url(/fonts/Lobster_1.3.otf);
}

@font-face {
    font-family: Chunkfive;
    src: url(/fonts/Chunkfive.otf);
}

@font-face {
    font-family: Amatic-Bold;
    src: url(/fonts/Amatic-Bold.ttf);
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url(/fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: GoodDog;
    src: url(/fonts/GoodDog.otf);
}

@font-face {
    font-family: GrandHotel;
    src: url(/fonts/GrandHotel-Regular.otf);
}

@font-face {
    font-family: Mathlete;
    src: url(/fonts/Mathlete-Bulky.otf);
}

.product {
  font-family: GrandHotel;
}
