$color-fac: .85;
$color-0: rgb(145, 195, 250) * $color-fac; // blue
$color-1: rgb(145, 250, 195) * $color-fac; // green
$color-2: rgb(240, 175, 240) * $color-fac; // purple
$color-3: rgb(250, 145, 160) * $color-fac; // red
$color-4: #fec440 * $color-fac;  // yellow

$prime-color: white;
$prime-inv-color: black;
$standard-font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$banner-height: 100px;
$menu-height: 30px;

$menu-margin: 25px;

$nav-bar-height: $banner-height + $menu-height + $menu-margin;
$nav-bar-height-m: 50px;

$highlight-color: $color-4;
$standard-text-shadow: 2px 2px 4px rgb(50,50,50);

$picked-color: $highlight-color * .85;

$ahref-color: $prime-color;

$content-frame-width: 790px;
$content-quickpad-width: 150px;
$content-quickpad-margin: 30px;
$content-content-width: $content-frame-width - $content-quickpad-width - $content-quickpad-margin;

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  @extend .unselectable;
  cursor: pointer;
}
$button-border-color: rgb(190, 190, 190) * 1.1;

.button {
  @extend .clickable;
  display: inline;
  padding: 5px 8px;
  margin: 3px 5px;
  background-color: $prime-color;
  color: $prime-inv-color;
  border: 1px solid transparent;
  border-radius: 5px;
}

.button-selected {
  @extend .button;
  border: 1px solid black;
}

.button:hover {
  @extend .button-selected;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}

@include keyframes(fade-in) {
  from { opacity: 0; }
  to { opacity: 1; }
}
