@import 'common';
@import 'flexbox';

$ahref-color: $prime-color;

.no-show {
  display: none;
}

a, .ahref {
  @extend .clickable;
  color: $color-0;
  text-decoration: none;
}


body {
  font-family: $std-font-family;
}

a:hover, .ahref-highlighted, .ahref:hover {
  color: $highlight-color;
}
