@import 'common';
@import 'flexbox';

$ahref-color: $prime-color;

.no-show {
  display: none;
}

.link {
  @extend .clickable;
  color: $color-0;
  text-decoration: none;
}

.link:hover {
  color: $highlight-color;
}

a, .ahref {
  @extend .link;
}


body {
  font-family: $std-font-family;
}

.ahref-highlighted {
  color: $highlight-color;
}

h1, h2, h3, h4 {
  margin: 15px 0;
}

pre {
  padding: 5px;
  border: 1px solid rgb(120, 120, 120);
  background-color: rgb(240, 240, 240);
  margin: 0 10px 0 5px;
}