@import 'common';
@import 'flexbox';

.button-wrapper {
  @extend .button;
  @extend %flexbox;
  @include flex-direction(row);
  @include align-items(center);
  .button-text {
    margin: 0 6px;
  }
}

.button-wrapper-large {
  @extend .button-wrapper;
  max-height: $button-size-large + 10;
}

.button-wrapper-mid {
  @extend .button-wrapper;
  max-height: $button-size-mid + 10;
}

.button-wrapper-small {
  @extend .button-wrapper;
  max-height: $button-size-small + 10;
}

$sbr: $std-border-radius;

.button-menu {
  @extend %flexbox;
  @include flex-direction(column);
  position: relative;

  .main-button {
    border-radius: $sbr;
  }

  .main-button-larger {
    @extend .main-button;
    border-radius: $sbr $sbr $sbr 0;
    border-color: $prime-inv-color;
  }

  .main-button-larger-center {
    @extend .main-button-larger;
    border-radius: $sbr;
  }

  .main-button-larger-right {
    @extend .main-button-larger;
    border-radius: $sbr $sbr 0 $sbr;
  }

  .main-button-smaller {
    @extend .main-button;
    border-color: $prime-inv-color $prime-inv-color $prime-color $prime-inv-color;
    border-radius: $sbr $sbr 0 0;
    z-index: 9;
  }

  .items {
    @extend .button;
    @extend .button-selected;
    @extend %flexbox;
    @include flex-direction(column);
    @include align-items(flex-stretch);
    position: absolute;
    background-color: $prime-color;
    border-color: $prime-color $prime-inv-color $prime-inv-color $prime-inv-color;
    border-radius: 0 0 $sbr $sbr;
    margin-top: -1px;
    @include animation('fade-in ' + $std-duration);
    cursor: default;
    padding: 10px 5px 5px 5px;
    z-index: 8;
  }

  .items-larger {
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-inv-color;
  }

  .items-larger-left {
    @extend .items-larger;
    border-radius: 0 $sbr $sbr $sbr;
  }

  .items-larger-center {
    @extend .items-larger;
    border-radius: $sbr;
  }

  .items-larger-right {
    @extend .items-larger;
    border-radius: $sbr 0 $sbr $sbr;
  }

  .hr {
    @include align-self(stretch);
    height: $button-size-small;
    margin: 0 11px;
    font-family: $alt-font-family;
    font-size: $button-size-small - 2;
    text-align: right;
    border-bottom: 1px solid $prime-inv-color;
  }
  .vspace {
    margin: 4px 0;
  }
}

.button-menu-center {
  @include align-items(center);
}

.button-menu-right {
  @include align-items(flex-end);
}
