@import 'common';
@import 'flexbox';

$test-fac: 1.3;
$canvas-size: 300px;

.main-panel {
  @extend %flexbox;
  @include flex-direction(column);
  padding: 5px 10px;
  border: 1px solid gray * $test-fac;

  .project-name {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
  .bottom-panel {
    @extend %flexbox;
    @include flex-direction(row);
  }
  .canvas-wrapper {
    @include flex(1, 1, auto);
    @extend %flexbox;
    @include align-items(center);
    @include justify-content(center);
    border: 1px solid gray * $test-fac;
    margin: 5px;
    canvas {
      width: $canvas-size;
      height: $canvas-size;
      border: 1px solid gray * ($test-fac / 1.2);
    }
  }
}

.editor {
  @extend %flexbox;
  @include flex-direction(column);
  @include flex(1, 1, auto);

  .button-row {
    margin: 5px 0;
  }
  .file-buttons {
    @extend .clickable;
    @extend %flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    display: inline;
    padding: 5px 8px;
    margin: 3px 5px;
    background-color: $prime-color;
    color: $prime-inv-color;
  }
  .file-buttons:hover {
    background-color: $highlight-color;
  }
  .file-order {
    display: inline-block;
    margin: 10px 0 0 5px;
    font-size: 3px;
    transform: translateX(5px) translateY(5px);
  }
  textarea {
    @include flex(1, 1, auto);
    min-width: 0;
    min-height: 0;
    margin: 5px;
  }
}