@import 'common';
@import 'flexbox';

.footer {
  @extend .font-tiny;
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  position: relative;
  width: 100%;
  margin: 10px 0;
  opacity: .3;
}