@import 'common';
@import 'flexbox';

#hub {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  padding: 5px 10px;  
}

.project-listing {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(stretch);
  .top {
    @extend %flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);

    .block {
      @extend %flexbox;
      @include flex-direction(column);
      .id {
        @extend .font-tiny;
      }
      font-size: $button-font-mid;
     
    }
  }
  .desc {
    margin: 5px;
  }
  margin: 5px;
}