@import 'common';
@import 'flexbox';

$output-console-width: 500px;;
$console-button-size: 50px;

.output-console {
  @extend %flexbox;
  @include flex-direction(row);
  position: fixed;
  height: 200px;
  bottom: 20px;
  background-color: rgba(200, 200, 200, .0);
  @include align-items(flex-begin);
  @include justify-content(flex-end);
  width: $output-console-width;

  textarea {
    border-style: solid solid solid none;
    border-width: 1px;
    border-color: $prime-inv-color;

    width: $output-console-width - 65;
    padding: 8px 8px 8px 15px;
    resize: none;
    z-index: 0;
    border-radius: 0 $std-border-radius 0 0;
  }

  .vertical-button {
    @include align-self(flex-end);
    width: $console-button-size;
    height: $console-button-size;
    border-style: solid solid solid none;
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    border-width: 1px;
    border-radius: 0 $std-border-radius $std-border-radius 0;
    background-color: $prime-color;
    margin-left: -1px;
    z-index: 1;
  }

  .vertical-button-hide {
    border-color: transparent transparent transparent $prime-color;
    transition: border-color $std-fast-duration;
  }

  .vertical-button-hide:hover {
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    transition: border-color 0;
  }

  left: 0px;
  opacity: .75;
  transition: left $std-duration, opacity $std-duration;
  z-index: 4;
}

.output-console-hide {
  left: -($output-console-width - $console-button-size + 2);
  opacity: 1;
  transition: left $std-duration, opacity $std-duration;
}

.project-name-holder {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);

  .project-name {
    @extend .button;
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
  }

  .options {
    @include align-self(flex-end);
  }
}


.main-panel {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);

  padding: 5px 10px;
  width: 100%;

  .bottom-panel {
    @extend %flexbox;
    @include flex-direction(row);
    margin-top: 10px;
    @include align-self(stretch);
  }
  .setting-button {
    @extend .button;
    position: absolute;
    padding: 5px;
    margin: 0;
    right: 20px;
    top: 20px;
    max-height: 30px;
    max-width: 30px;
  }
  .context-wrapper {
    @include flex(1, 1, auto);
    @extend %flexbox;
    @include align-items(center);
    @include flex-direction(column);
    margin: 5px;
    canvas {
      width: 100px;
      height: 100px;
      border: 1px solid gray * 1.1;
    }
  }
  .file-row {
    @extend %flexbox;
    @include flex-wrap(wrap);
  }
  .button-row {
    @extend %flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    margin: 5px 0;
    width: 650px;
  }
  .file-order {
    display: inline-block;
    margin: 0 0 0 5px;
    font-size: 10px;
  }
  .option-row {
    @extend %flexbox;
    @include flex-wrap(nowrap);
  }
  .options-button {
    @extend .button;
    padding: 0;
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
  }
}
