@import 'common';
@import 'flexbox';

$stdout-console-width: 550px;;
$console-button-size: $button-size-large;

.stdout-console {
  @extend %flexbox;
  @include flex-direction(row);
  position: fixed;
  height: 200px;
  bottom: 20px;
  background-color: rgba(200, 200, 200, .0);
  @include align-items(flex-begin);
  @include justify-content(flex-end);
  width: $stdout-console-width;

  .vertical-button {
    @include align-self(flex-end);
    width: $console-button-size;
    height: $console-button-size;
    border-style: solid solid solid none;
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    border-width: 1px;
    border-radius: 0 $std-border-radius $std-border-radius 0;
    background-color: $prime-color;
    margin-left: -1px;
    z-index: 1;
  }

  .vertical-button-hide {
    border-color: transparent transparent transparent $prime-color;
    transition: border-color $std-fast-duration;
  }

  .vertical-button-hide:hover {
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    transition: border-color 0;
  }

  .stdout-content {
    @extend %flexbox;
    @extend .font-small;
    @include flex-direction(column);
    @include align-items(stretch);
    @include flex-grow(1);

    border-style: solid solid solid none;
    border-width: 1px;
    border-color: $prime-inv-color;
    border-radius: 0 $std-border-radius 0 0;
    background-color: $prime-color;

    .content-wrapper {
      overflow: auto;
      p { margin: 0; }
      .single-output {
        @extend %flexbox;
        @include flex-direction(row);
      }
    }

    .info {
      color: $color-red;
      @include flex-grow(0);
      margin: 0 5px;
      width: $stdout-console-width / 4;
    }

    .content {
      width: 3 * $stdout-console-width / 4;
      font-family:  "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }

    .content-dark {
      background-color: $prime-color * .8;
      @include animation('fade-in ' + ($std-duration * 1.5));
    }

    .content-light {
      background-color: $prime-color;
      @include animation('fade-in ' + ($std-duration * 1.5));
    }

    .error {
      background-color: $color-red;
      color: $prime-color;
      @include animation('fade-in ' + ($std-duration * 1.5));
    }
  }

  .stdout-content-buttons {
    @extend %flexbox;
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include flex-shrink(0);
    padding: 5px;
  }

  left: 0px;
  opacity: .9;
  transition: left $std-duration, opacity $std-duration;
  z-index: 6;
}

.stdout-console-backgrounded {
  @extend .stdout-console;
  z-index: -1;
}

.stdout-console-hide {
  left: -($stdout-console-width - $console-button-size - 2);
  opacity: 1;
  transition: left $std-duration, opacity $std-duration;
}

.project-name-holder {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);

  .project-name {
    @extend .button;
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
  }

  .options {
    @include align-self(flex-end);
  }
}

.main-panel {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
}

.logo-menu {
  @extend .product;
  font-size: $button-font-mid + 10;
  .logo-item {
    font-family: $std-font-family;
  }
}

.header-bar {
  @extend %flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-self(stretch);
  @include align-items(center);

  .project-title {
    margin-left: 60px;
    @extend %flexbox;
    @include flex-direction(column);
    @include align-items(center);
    span {
      @extend .font-small;
      margin: 5px 0;
      .highlight {
        margin: 0 5px;
        font-weight: 700;
      }
    }
  }

  .right-menus {
    @extend %flexbox;
    @include flex-direction(row);
    @include align-self(center);
    margin: 0 0 5px 0;
    .menu-button {
      margin: 0 8px;
    }
    .selected-editor {
      font-weight: 700;
    }
  }
}