@import 'common';
@import 'flexbox';

$stdout-console-width: 500px;;
$console-button-size: 50px;

.stdout-console {
  @extend %flexbox;
  @include flex-direction(row);
  position: fixed;
  height: 200px;
  bottom: 20px;
  background-color: rgba(200, 200, 200, .0);
  @include align-items(flex-begin);
  @include justify-content(flex-end);
  width: $stdout-console-width;

  .vertical-button {
    @include align-self(flex-end);
    width: $console-button-size;
    height: $console-button-size;
    border-style: solid solid solid none;
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    border-width: 1px;
    border-radius: 0 $std-border-radius $std-border-radius 0;
    background-color: $prime-color;
    margin-left: -1px;
    z-index: 1;
  }

  .vertical-button-hide {
    border-color: transparent transparent transparent $prime-color;
    transition: border-color $std-fast-duration;
  }

  .vertical-button-hide:hover {
    border-color: $prime-inv-color $prime-inv-color $prime-inv-color $prime-color;
    transition: border-color 0;
  }

  .stdout-content {
    @extend %flexbox;
    @include flex-direction(column);
    @include align-items(stretch);
    @include flex-grow(1);

    border-style: solid solid solid none;
    border-width: 1px;
    border-color: $prime-inv-color;
    border-radius: 0 $std-border-radius 0 0;
    background-color: $prime-color;

    .content-wrapper {
      overflow: auto;
      p { margin: 0; }
      .single-output {
        @extend %flexbox;
        @include flex-direction(row);
      }
    }

    .info {
      color: rgb(135, 40, 50);
      @include flex-grow(0);
      margin: 0 5px;
    }

    .content {
      @include flex-grow(1);
      background-color: rgb(200, 150, 150);
      font-family:  "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .content-dark {
      background-color: $prime-color * .8;
      @include animation('fade-in ' + ($std-duration * 2.5));
    }

    .content-light {
      background-color: $prime-color;
      @include animation('fade-in ' + ($std-duration * 2.5));
    }
  }

  .stdout-content-buttons {
    @extend %flexbox;
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include flex-shrink(0);
    padding: 5px;
  }

  left: 0px;
  opacity: .9;
  transition: left $std-duration, opacity $std-duration;
  z-index: 6;
}

.stdout-console-backgrounded {
  @extend .stdout-console;
  z-index: -1;
}

.stdout-console-hide {
  left: -($stdout-console-width - $console-button-size + 2);
  opacity: 1;
  transition: left $std-duration, opacity $std-duration;
}

.project-name-holder {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);

  .project-name {
    @extend .button;
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
  }

  .options {
    @include align-self(flex-end);
  }
}

$line-width: 2px;

.worksheet-block {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(stretch);
  @include align-self(stretch);
  @include flex-grow(0);
  @include flex-shrink(0);

  overflow: hidden;

  .line-wrapper {
    opacity: .15;
    transition: opacity $std-duration;
    border-width: 1px;
  }
  .line-wrapper:hover {
    opacity: 1;
    transition: opacity $std-duration;
  }

  .separator {
    @extend %flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include flex-grow(0);
    @include flex-shrink(0);

    margin: 5px 0;

    .separator-line-wrapper {
      @extend %flexbox;
      @include flex(auto);
      @include flex-direction(column);
      @include align-items(stretch);
      cursor: ns-resize;
      @extend .line-wrapper;
    }
    .separator-line {
      margin: 5px 10px;
      border-style: dotted none none none;
      height: 0;
      border-color: $prime-inv-color;
      border-width: $line-width;
    }
    .collapsed-line-wrapper {
      @extend .separator-line-wrapper;
      cursor: pointer;
    }
    .collapsed-line {
      @extend .separator-line;
      border-style: solid none solid none;
      height: 4px;
      border-width: $line-width;
    }
  }

  .block-content {
    @extend %flexbox;
    @include flex-direction(row);
    @include align-items(stretch);
    @include justify-content(flex-start);
    min-height: 50px;

    .divide-line-wrapper {
      @include flex-grow(0);
      @include flex-shrink(0);
      @extend %flexbox;
      @include flex-direction(row);
      @include align-items(stretch);
      cursor: ew-resize;
      @extend .line-wrapper;
    }
    .divide-line {
      width: 0;
      border-style: none none none dotted;
      border-color: $prime-inv-color;
      margin: 5px 10px;
      border-width: $line-width;
    }
    .content-pane {
      @extend %flexbox;
      @include flex-direction(column);
      @include align-items(stretch);
      @include flex(auto);
      @include align-self(flex-start);
    }
  }
}

.worksheet-block-trans {
  transition: height $std-duration;
}

.editor-pane {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(stretch);
  overflow: hidden;

  .editor-file-row {
    @extend %flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-grow(0);
    @include flex-shrink(0);
    height: $button-size-small * 2;
    margin: 5px 0;
    .file-item {
      margin: 0 3px;
    }
  }
}

.editor-pane-backgrounded {
  @extend .editor-pane;
  z-index: -1
}

.block-link-pane {
  @include flex-direction(column);
  @extend %flexbox;
  @include flex-grow(1);
  @include align-items(center);
  @include justify-content(center);
  width: 650px;
  .content {
    position: relative;
    transform: translateY(-50%);
    height: auto;
    font-weight: 600;
    top: 50%;
  }
}

.main-panel {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  padding: 5px 10px;
}
